.hero {
  &-count {
    display: flex;
    align-items: center;  
    gap: 20px;
    &__line {
      width: 54px;
      height: 1px;
      background-color: rgba(32, 31, 31, .6);
      display: inline-block;
    }
  }
}